<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/{{ page.style | relativeurl }}.css">
    <title>
      {{ page.title}} - {{ site.title }}
    </title>
  </head>

  <body>
    <div class="page">
      {% include header.html %}
      <main>
        <div class="content">
          {{ content }}
        </div>
        <div class="feedback">
        </div>
      </main>
      <footer>
        <p>
          &copy 2026 RJ "Sam Aster" Kelly
        </p>
      </footer>
    </div>
  </body>

</html>