<!DOCTYPE html>
<html lang="en-us">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/{{ page.style | relativeurl }}.css">
    <title>
      {{ page.title}} - {{ site.title }}
    </title>
  </head>

  <body>
    <div>
      <header>
        <hgroup>
          <h1>
            Simply Sam
          </h1>
          <p>Simply Speaking</p>
        </hgroup>
      </header>
      <main>
        {{ content }}
      </main>
      <footer>
        <p>
          &copy 2026 Robert "Sam Aster" Kelly
        </p>
      </footer>
    </div>
  </body>

</html>